
<div class="row">
  <div *ngFor="let rental of rentals">
    <div class="col-md-4">
      <div class="card" style="width: 18rem">
        <img src="..." class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Rental Detail</h5>
          <p><strong>Full Name: </strong>{{ rental.firstName }} {{ rental.lastName }}</p>
            <p><strong>Rental Date: </strong>{{ rental.rentDate }}</p>
            <p><strong>Return Date: </strong>{{ rental.returnDate }}</p>
            <p><strong>Car Brand: </strong>{{ rental.carBrand }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
